.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.xlsx
*.png
*.shp
*.dbf
*.shx
*.prj
*.xml
*.csv
*.rds
/temp
/crap
/inst/fleet*.R
.Rprofile
/inst/wrapperDrafts
/inst/shared
/inst/runners
/inst/*.RData
/inst/*.sql
